<!-- MAIN -->
<main>
  <table *ngIf="paginatedFiles">
    <thead>
      <tr>
        <th>Name</th>
        <th>Size</th>
        <th>Last Modified</th>
        <th>Modified by</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let file of paginatedFiles.files"
        class="leading-10"
        (contextmenu)="renderActions($event, file)"
      >
        <td class="name">
          <i [ngClass]="file.extension | icon"></i>
          <p>{{ file.name }}</p>
        </td>
        <td>{{ file.size ?? 0 | size }}</td>
        <!--  -->

        <td>{{ file.modifiedDate | date : "short" }}</td>
        <td>{{ file.modifiedBy }}</td>
      </tr>
    </tbody>
  </table>

  <ng-template #fileActions>
    <app-file-actions></app-file-actions>
  </ng-template>
</main>
